.navigation-bar {
  display: flex;
}

.navigation-button1 {
  margin-right: 2%;
}

.navigation-button2 {
  margin-right: 2%;
}

.button-coin {
  margin: 40% auto 0;
  display: block;
  width: 90%;
  max-width: 500px;
}

.button-coin:active {
  margin: 41% auto 0;
  display: block;
  width: 88%;
  max-width: 500px;
  transition: 0.25s;
}

.textch {
	margin: 3% auto;
	text-align: center
}

.profile_href {
	text-decoration: none;
}